# Godot 4+ specific ignores
.godot/
*.vscode
*.godot-cpp-built

*.sconsign.dblite

# Rust
**/target/**

# C++

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.exp
*.ilk
*.pdb

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

